# find documentation here: https://coverage.readthedocs.io/en/6.5.0/config.html
[run]
omit =
    # omit everything in ./tests/*
    ./tests/*
    # omit anything in a .local directory anywhere
    */.local/*
    # omit this single file
    ./tests/test_smtmain.py